.login_form {
    // margin: 0 100px;
}

.login_title {
    margin-bottom: 20px;
}

.login_form-input, .login_form-checkbox {
    border-color: #E4E9E7;
    &:focus {
        border-color: #E4E9E7;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.login_btn-login {
    background-color: #101727;
    font-size: 20px;
    font-weight: 400;
    border-radius: 12px;
    &:hover {
        opacity: 0.9;
    }
}

.login_btn-google {
    font-size: 20px;
    font-weight: 400;
    border-color: #E4E9E7;
    border-radius: 12px;
}

.login_image {
    width: 500px;
    height: 500px;
    margin-left: 50px;
}

.login_image img {
    object-fit: contain;
}